<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".FreyrApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Freyr">

        <!-- Main Dashboard Activity with Bottom Navigation -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Debt Operations -->
        <activity
            android:name=".ui.debt.AddDebtActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.debt.DebtDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.debt.AddPaymentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Family Groups -->
        <activity
            android:name=".ui.group.CreateFamilyGroupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.group.FamilyGroupDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- User Profile -->
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
